.gridlayout{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   justify-content: center;
   align-items: center;
   gap: 20px;
}
.layerOne{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
   justify-content: center;
   align-items: center;
   gap: 20px;
   /* color: #141927; */
}

